// Подключение шрифтов
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: PlusJakartaSans;
    src: url(../fonts/PlusJakartaSans-Regular.ttf);
}

@font-face {
    font-family: PublicSans;
    src: url(../fonts/PublicSans-Regular.ttf);
}

@font-face {
    font-family: Manrope;
    src: url(../fonts/Manrope-Regular.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Regular.ttf);
}

// Обнуление стилей
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Общий контейнер
body{
    width: 1440px;
    margin: 0 auto;
    background-color: #F9F9F9;
}

// Стили для шапки сайта
.header{
    height: 135px;
    padding: 48px 0 0 96px;
    &__content{
        width: 1248px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Inter;
        font-size: 18px;
        margin-bottom: 25px;

        // Стили для навигации
        nav{
            width: 375px;
            display: flex;
            justify-content: space-between;
            margin: 0 425px 0 103px;
        }

        a{
            text-decoration: none;
            color: #606060;
        }

        &__authorization{
            width: 233px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 700;

            p{
                color: #606060;
            }

            &__btn{
                width: 122px;
                height: 63px;
                background-color: #6C5FBC;
                color: #F9F9F9;
                border: none;
                border-radius: 18px;
                font-size: 18px;
                font-weight: 700;
            }
        }
    }
    
    hr{
        width: 1246px;
        border: 1px solid #CBCBCB;
    }
}

// Стили для баннера
.banner{
    width: 1440px;
    height: 740px;
    display: flex;
    padding-left: 96px;

    &__text{
        width: 568px;
        margin-top: 119px;
        
        &__users{
            width: 231px;
            font-size: 15px;
            font-family: Poppins;
            font-weight: 600;
            color: #201F1F33;
            display: flex;
            justify-content: space-between;
            align-items: center;
            letter-spacing: 2px;
            hr{
                width: 54px;
                height: 1px;
                border: 1px solid #CBCBCB;
            }
        }
        &__title{
            width: 570px;
            font-family: Poppins;
            font-size: 75px;
            font-weight: 600;
            margin-top: 18px;
            line-height: 90px;
            color: #201F1F;

            span{
                color: #5C4EAE;
            }
        }

        &__subtitle{
            width: 500px;
            font-family: Inter;
            font-size: 18px;
            font-weight: 500;
            line-height: 28px;
            color: #676767;
            margin-top: 16px;

            span{
                color: #6155AE;
            }
        }

        &__buttons{
            width: 284px;
            margin-top: 53px;
            display: flex;
            justify-content: space-between;

            &__start{
                width: 156px;
                height: 59px;
                font-family: Poppins;
                font-weight: 500;
                font-size: 16px;
                background-color: #6C5FBC;
                color: white;
                border: none;
                border-radius: 12px;
            }

            &__pro{
                width: 110px;
                font-family: Poppins;
                font-weight: 500;
                font-size: 16px;
                color: #6C5FBC;
                background-color: white;
                border-radius: 12px;
                border: 1.5px solid #6C5FBC;
            }
        }
        &__grade{
            display: flex;
            align-items: center;
            margin-top: 33px;
            
            &__stars{
                margin-left: 20px;
            }

            p{
                margin-left: 10px;
                font-weight: 500;
                font-family: PlusJakartaSans;
                font-weight: 500;
                color: #334155;
                opacity: 0.7;
            }
        }
    }

    &__img{
        margin: 50px 0 0 37px;
    }
}

// Стили для блока с успехами
.success{
    width: 1440px;
    height: 220px;
    background-color: #5C4EAE;
    display: flex;

    &__content{
        width: 942px;
        display: flex;
        justify-content: space-between;
        padding: 57px 0 0 0;
        margin-left: 250px;
        position: absolute;

        p:nth-of-type(1){
            font-family: PublicSans;
            color: white;
            font-size: 43px;
            font-weight: 700;
            text-align: center;
        }

        p:nth-of-type(2){
            font-family: Inter;
            color: #C5BFED;
            font-size: 14px;
            font-weight: 500;
            margin-top: 11px;
            text-align: center;
            line-height: 21.6px;
        }

        hr{
            height: 123px;
            border: 1px solid #C5C5C5;
            opacity: 0.15;
        }

        &__clients{
            width: 264px;
        }
        &__dishes{
            width: 206px;
        }
        &__support{
            width: 208px;
        }
    }

    img:nth-of-type(2){
        margin-left: 833px;
    }
}

// Стили для блока с описанием премиального качества
.quality{
    .container{
        width: 1440px;
        display: flex;
        justify-content: space-between;
        padding: 104px 81px 0 97px; 
    }

    &__img{
        img:nth-of-type(1){
            margin-top: 16px;
        }

        img:nth-of-type(2){
            position: absolute;
            margin: 0 0 50px 15px;
        }
    }

    &__text{
        width: 560px;
        margin-top: 91px;

        &__title{
            width: 500px;
            font-family: Poppins;
            font-size: 51px;
            font-weight: 700;
            color: #18181B;
            line-height: 58.2px;

            span{
                color: #6C5FBC;
            }
        }

        &__advantages{
            margin-top: 35px;

            &__plus{
                width: 518px;
                display: flex;
                justify-content: space-between;
                align-items: first baseline;
                margin-top: 28px;

                p{
                    width: 500px;
                    font-family: Inter;
                    font-size: 20px;
                    line-height: 30.5px;
                    color: #676767;
                }
            }
            .tochka{
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #676767;
            }
        }
        
        &__download{
            display: flex;

            &__button{
                width: 185px;
                height: 63px;
                background-color: #6C5FBC;
                color: white;
                font-family: Poppins;
                font-size: 18px;
                font-weight: 500;
                display: flex;
                align-items: center;
                margin-top: 66px;
                padding-left: 26px;
                border: none;
                border-radius: 15px;
                img{
                    margin-left: 15px;
                } 
            }

            &__arrow{
                margin: 120px 0 0 160px;
                position: absolute;
            }
        }
    }
    hr{
        width: 1262px;
        margin: 120px 0 0 97px;
        border: 1px solid #CBCBCB;
    }
}

// Стили для блока с карточками ресторанов
.restaurants{
    width: 1250px;
    margin: 0 auto;
    margin-top: 100px;
    &__title{
        text-align: center;
        font-family: Poppins;
        font-size: 45px;
        color: #323142;
        font-weight: 600;
        span{
            color: #6C5FBC;
        }
    }
    &__cards{
        margin-top: 86px;
        display: flex;
        justify-content: space-between;
        &__card{
            &__img{
                img{
                    width: 396px;
                    height: 176px;
                    border-radius: 30px 30px 0 0;
                }
            }
            
            &__text{
                width: 396px;
                height: 124px;
                background-color: white;
                border-radius: 0 0 30px 30px;
                padding: 11px 27px 0 34px;
                display: flex;
                justify-content: space-between;
                box-shadow: 0 50px 0 0 #E5E5E5B2;

                &__scroll{

                    &__btnHealthy{
                        width: 66px;
                        height: 25px;
                        background-color: #F7EDD0;
                        color: #DAA31A;
                        font-family: Poppins;
                        font-size: 12px;
                        border-radius: 5.4px;
                        border: none;
                    }

                    &__btnTrending{
                        width: 66px;
                        height: 25px;
                        background-color: #F7C5BA;
                        color: #FB471D;
                        font-family: Poppins;
                        font-size: 12px;
                        border-radius: 5.4px;
                        border: none;
                    }

                    &__heading{
                        font-family: Poppins;
                        font-size: 26px;
                        font-weight: 600;
                        color: #323142;
                    }

                    &__description{
                        width: 140px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-family: Manrope;
                        font-size: 20px;
                        color: #8E97A6;
                    }

                }
                &__img{
                    margin: 53px 0 0 68px;
                }
            }
        }
    }

    &__view{
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        color: #ACADB9;
        display: flex;
        margin: 66px 0 0 1122px;

        p{
            margin-right: 20px;
        }
    }

    hr{
        width: 1246px;
        border: 1px solid #CBCBCB;
        margin-top: 120px;
    }
}

// Стили для блока с карточками блюд
.dishes{
    width: 1246px;
    margin: 0 auto;
    &__title{
        text-align: center;
        margin-top: 100px;
        font-family: Poppins;
        font-weight: 600;
        font-size: 45px;
        color: #323142;

        span{
            color: #6C5FBC;
        }
    }

    &__cards{
        width: 1247px;
        margin: 76px 0 0 0;
        display: flex;
        justify-content: space-between;

        &__card{
            width: 225px;
            height: 390px;
            background-color: #FFFFFF;
            border-radius: 35px;
            box-shadow: 0 50px 0 0 #E5E5E5B2;

            &__img{
                width: 225px;
                img:nth-of-type(1){
                    position: absolute;
                    margin: 24px 0 0 181px;
                }
                &__ch{
                    margin: 26px 0 0 6px;
                }

                &__sw{
                    margin: 37px 0 13px 15px;
                }
            }

            &__scroll{
                padding: 0 0 0 22px;

                &__btnHealthy{
                    width: 59px;
                    height: 22px;
                    border-radius: 3px;
                    border: none;
                    color: #DAA31A;
                    font-family: Poppins;
                    font-size: 12px;
                    background-color: #F7EDD0;
                }

                &__btnTrending{
                    width: 64px;
                    height: 22px;
                    border-radius: 3px;
                    border: none;
                    color: #FB471D;
                    font-family: Poppins;
                    font-size: 12px;
                    background-color: #F7C5BA;
                }

                &__btnSupreme{
                    width: 64px;
                    height: 22px;
                    border-radius: 3px;
                    border: none;
                    color: #309D5B;
                    font-family: Poppins;
                    font-size: 12px;
                    background: rgba(#33AC64, 0.2);
                }
                
                &__heading{
                    font-family: Poppins;
                    font-size: 23px;
                    font-weight: 600;
                    color: #323142;
                }

                &__description{
                    width: 125px;
                    display: flex;
                    justify-content: space-between;
                    font-size: 17px;
                    font-family: Manrope;
                    color: #8E97A6;
                    align-items: center;
                }

                &__price{
                    width: 174px;
                    margin-top: 13px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-family: Manrope;
                    font-size: 26px;
                    font-weight: 700;
                    color: #323142;
                    
                    span{
                        font-size: 19px;
                        color: #8E97A6;
                    }
                }
            }
        }
        
        &__card:nth-of-type(2){
            width: 225px;
            height: 390px;
            background-color: white;
            border-radius: 35px;
        }
    }

    &__view{
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        color: #ACADB9;
        display: flex;
        margin: 66px 0 0 1122px;

        p{
            margin-right: 20px;
        }
    }

    hr{
        width: 1246px;
        border: 1px solid #CBCBCB;
        margin-top: 120px;
    }
}

// Стили для блока с контролем покупок
.control{

    .container{
        width: 1246px;
        margin: 0 auto;
        padding: 100px 0 0 0;
        display: flex;
        justify-content: space-between;
    }
    

    &__text{

        &__title{
            width: 600px;
            font-family: Poppins;
            font-weight: 700;
            font-size: 58px;
            line-height: 61px;
            color: #18181B;

            span{
                color: #6C5FBC;
            }
        }

        &__cards{
            margin: 48px 0 0 0;

            &__card{
                width: 345px;
                height: 88px;
                border-radius: 12px;
                background-color: white;
                display: flex;
                margin: 15px 0 0 0;

                img{
                    width: 77px;
                    height: 80px;
                    margin: 4px 0 0 17px;
                }

                &__content{
                    width: 231px;
                    margin: 17px 0 0 19px;
                    font-family: Poppins;
                    color: #323142;

                    p:nth-of-type(1){
                        font-size: 19px;
                        font-weight: 600;
                    }
                    p:nth-of-type(2){
                        font-size: 12px;
                        font-weight: 500;
                    }
                    p:nth-of-type(3){
                        font-size: 13px;
                        color: #ACADB9;
                        text-align: right;
                        margin: 0 17px 0 0;
                    }

                    &__red{
                        color: #F1534E;
                    }
                }
            }
        }
    }

    &__purchases{
        width: 534px;
        height: 466px;
        background-color: white;
        border-radius: 25px;
        padding: 38px 0 0 40px;
        box-shadow: 0 100px 0 0 rgba(#323142, 0.2);


        &__menu{
            width: 456px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: Manrope;
            color: #1A202C;

            &__title{
                font-size: 28px;
                font-weight: 800;
            }

            &__btn{
                width: 176px;
                height: 53px;
                background-color: #FAFAFA;
                font-weight: 600;
                font-size: 19px;
                font-family: Manrope;
                letter-spacing: 0.63px;
                border-radius: 13px;
                border: none;
                color: #1A202C;
                display: flex;
                align-items: center;
                padding: 0 0 0 19px;
                img{
                    margin-left: 6px;
                }
            }
        }

        &__cards{
            margin-top: 38px;
            &__costs{
                width: 460px;
                height: 135px;
                border: 1.57px solid #EDF2F7;
                border-radius: 19px;
                padding: 25px 25px 0 25px;
                margin-top: 22px;
                font-family: Manrope;

                &__content{
                    display: flex;
                    align-items: center;

                    &__info{
                        width: 140px;
                        margin-left: 19px;
                        p:nth-of-type(1){
                            font-size: 19px;
                            font-weight: 800;
                            color: #1A202C;
                            letter-spacing: 0.63px;
                        }
                        p:nth-of-type(2){
                            font-size: 16px;
                            color: #A0AEC0;
                            letter-spacing: 0.63px;
                            margin-top: 3px;
                        }
                    }

                    &__price{
                        width: 201px;
                        text-align: right;
                        font-size: 22px;
                        font-weight: 800;
                    }
                }

                &__lines{
                    margin-top: 21px;
                    hr{
                        height: 10px;
                        background-color: #6C5FBC;
                        border-radius: 80px;
                        border: none;
                    }
                    hr:nth-of-type(1){
                        width: 297px;
                        position: absolute;
                    }
                    hr:nth-of-type(2){
                        width: 408px;
                        opacity: 0.2;
                    }

                    &__VU{
                        hr{
                            background-color: #FBAD18;
                        }
                    }
                }
            }
        }
    }

    &__hr{
        hr{
            width: 1246px;
            border: 1px solid #CBCBCB;
            margin: 0 auto;
            margin-top: 120px;
        }
    }
}

// Стили для блока с отзывами
.reviews{
    width: 1440px;
    padding: 116px 0 0 84px;
    margin: 0 auto;

    &__title{
        text-align: center;
        font-family: Poppins;
        font-size: 45px;
        font-weight: 600;
        color: #6C5FBC;
        span{
            color: #323142;
        }
    }

    &__cards{
        width: 1676px;
        display: flex;
        justify-content: space-between;
        margin: 80px 0 35px 0;

        &__fullCard{
            width: 528px;
            height: 346px;
            border-radius: 20px;
            padding: 38px 0 0 43px;
            background-color: white;

            &__info{
                width: 436px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &__name{
                    margin-right: 155px;
                    font-weight: 500;
                    p:nth-of-type(1){
                        font-family: Poppins;
                        font-size: 21px;
                        color: #030314;
                    }
                    p:nth-of-type(2){
                        font-family: Quicksand;
                        font-size: 17px;
                        color: #5E5D5D;
                    }
                }
            }

            &__text{
                width: 442px;
                margin: 32px 0 0 0;
                line-height: 26.12px;
                font-family: Poppins;
                font-size: 18px;
                font-style: italic;
                color: #636363;
                text-align: justify;
            }

            &__stars{
                margin: 39px 0 0 0;
                img{
                    height: 23px;
                }
            }
        }

        &__otherCards{
            display: flex;
            justify-content: space-between;
            &__half{
                width: 528px;
                height: 239px;
                border-radius: 20px;
                padding: 38px 0 0 43px;
                background-color: white;

                &__text{
                    width: 442px;
                    line-height: 26.12px;
                    font-family: Poppins;
                    font-size: 18px;
                    font-style: italic;
                    color: #636363;
                    text-align: justify;
                }
    
                &__stars{
                    margin: 39px 0 0 0;
                    img{
                        height: 23px;
                    }
                }
            }
        }
        &__slider{
            position: absolute;
            margin: 327px 0 0 575px;

            hr{
                height: 11px;
                border-radius: 50px;
                border: none;
                position: absolute;
                background-color: #6C5FBC;
            }
            hr:nth-of-type(1){  
                width: 191px;
            }
            hr:nth-of-type(2){
                width: 667px;
                opacity: 0.2;
            }
        }
    }
}

// Стили для блока со скидкой
.sell{
    
    &__content{
        width: 1214px;
        height: 280px;
        margin: 182px 0 0 130px;
        background-color: #6C5FBC;
        background-image: url(../img/Home/background.png);
        background-position: 50px 0;
        background-repeat: no-repeat;
        border: none;
        border-radius: 30px;
        padding: 37px 0 0 66px;

        &__title{
            font-family: Poppins;
            font-weight: 800;
            font-size: 70px;
            color: white;
        }

        &__email{
            width: 440px;
            height: 68px;
            margin-top: 9px;
            padding: 0 6px 0 22px;
            background-color: white;
            border-radius: 15px;
            align-items: center;
            display: flex;
            justify-content: space-between;
            font-family: Poppins;
            color: #878787;

            &__btn{
                width: 133px;
                height: 54px;
                border-radius: 11.25px;
                border: none;
                background-color: #6C5FBC;
                font-weight: 500;
                font-size: 15px;
                letter-spacing: 0.45px;
                color: #F7F8FA;
            }
        }

        img{
            position: absolute;
            margin: 27px 0 0 802px;
        }
    }
}

// Стили для подвала
.footer{
    width: 1440px;
    height: 345px;
    margin-top: 156px;
    padding: 96px 90px 0 103px;
    background-color: #EAEAEA;

    &__menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        // Навигация
        nav{
            width: 456px;
            display: flex;
            justify-content: space-between;

            a{
                text-decoration: none;
                color: #999999;
                font-size: 18px;
                font-family: Inter;
                font-weight: 500;
            }
        }
    }

    hr{
        width: 1246px;
        height: 0;
        border: 1px solid #818181;
        opacity: 0.25;
    }

    &__media{
        margin: 57px 0 0 0;
        display: flex;
        justify-content: space-between;

        p{
            font-family: Inter;
            font-size: 17px;
            font-weight: 500;
            color: #999999;
        }

        &__icons{
            width: 235px;
            display: flex;
            justify-content: space-between;
        }
    }
}