@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: PlusJakartaSans;
  src: url(../fonts/PlusJakartaSans-Regular.ttf);
}
@font-face {
  font-family: PublicSans;
  src: url(../fonts/PublicSans-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin: 0 auto;
}

.header {
  height: 135px;
  padding: 48px 0 0 96px;
}
.header__content {
  width: 1248px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Inter;
  font-size: 18px;
  margin-bottom: 25px;
}
.header__content nav {
  width: 375px;
  display: flex;
  justify-content: space-between;
  margin: 0 425px 0 103px;
}
.header__content a {
  text-decoration: none;
  color: #606060;
}
.header__content__authorization {
  width: 233px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}
.header__content__authorization p {
  color: #606060;
}
.header__content__authorization__btn {
  width: 122px;
  height: 63px;
  background-color: #6C5FBC;
  color: #F9F9F9;
  border: none;
  border-radius: 18px;
  font-size: 18px;
  font-weight: 700;
}
.header hr {
  width: 1246px;
  border: 1px solid #CBCBCB;
}

.banner {
  width: 1440px;
  height: 740px;
  display: flex;
  padding-left: 96px;
}
.banner__text {
  width: 568px;
  margin-top: 119px;
}
.banner__text__users {
  width: 231px;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 600;
  color: rgba(32, 31, 31, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 2px;
}
.banner__text__users hr {
  width: 54px;
  height: 1px;
  border: 1px solid #CBCBCB;
}
.banner__text__title {
  width: 570px;
  font-family: Poppins;
  font-size: 75px;
  font-weight: 600;
  margin-top: 18px;
  line-height: 90px;
  color: #201F1F;
}
.banner__text__title span {
  color: #5C4EAE;
}
.banner__text__subtitle {
  width: 500px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #676767;
  margin-top: 16px;
}
.banner__text__subtitle span {
  color: #6155AE;
}
.banner__text__buttons {
  width: 284px;
  margin-top: 53px;
  display: flex;
  justify-content: space-between;
}
.banner__text__buttons__start {
  width: 156px;
  height: 59px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  background-color: #6C5FBC;
  color: white;
  border: none;
  border-radius: 12px;
}
.banner__text__buttons__pro {
  width: 110px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  color: #6C5FBC;
  background-color: white;
  border-radius: 12px;
  border: 1.5px solid #6C5FBC;
}
.banner__text__grade {
  display: flex;
  align-items: center;
  margin-top: 33px;
}
.banner__text__grade__stars {
  margin-left: 20px;
}
.banner__text__grade p {
  margin-left: 10px;
  font-weight: 500;
  font-family: PlusJakartaSans;
  font-weight: 500;
  color: #334155;
  opacity: 0.7;
}
.banner__img {
  margin: 50px 0 0 37px;
}

.success {
  width: 1440px;
  height: 220px;
  background-color: #5C4EAE;
  display: flex;
}
.success__content {
  width: 942px;
  display: flex;
  justify-content: space-between;
  padding: 57px 0 0 0;
  margin-left: 250px;
  position: absolute;
}
.success__content p:nth-of-type(1) {
  font-family: PublicSans;
  color: white;
  font-size: 43px;
  font-weight: 700;
  text-align: center;
}
.success__content p:nth-of-type(2) {
  font-family: Inter;
  color: #C5BFED;
  font-size: 14px;
  font-weight: 500;
  margin-top: 11px;
  text-align: center;
  line-height: 21.6px;
}
.success__content hr {
  height: 123px;
  border: 1px solid #C5C5C5;
  opacity: 0.15;
}
.success__content__clients {
  width: 264px;
}
.success__content__dishes {
  width: 206px;
}
.success__content__support {
  width: 208px;
}
.success img:nth-of-type(2) {
  margin-left: 833px;
}

.quality {
  width: 1440px;
  display: flex;
  justify-content: space-between;
  padding: 104px 81px 0 97px;
}
.quality__img img:nth-of-type(1) {
  margin-top: 16px;
}
.quality__img img:nth-of-type(2) {
  position: absolute;
  margin: 0 0 50px 15px;
}
.quality__text {
  width: 560px;
  margin-top: 91px;
}
.quality__text__title {
  width: 500px;
  font-family: Poppins;
  font-size: 51px;
  font-weight: 700;
  color: #18181B;
  line-height: 58.2px;
}
.quality__text__title span {
  color: #6C5FBC;
}
.quality__text__advantages__plus {
  display: flex;
  align-items: first baseline;
}
.quality__text__advantages .tochka {
  width: 4px;
  height: 5px;
  border-radius: 50%;
  background-color: red;
}/*# sourceMappingURL=Home_v-1.css.map */